<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Períodos de Nómina Cerrados</title>
    <th:block th:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/moduloPeriodo.css}">
        <link rel="stylesheet" th:href="@{/css/navbar.css}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<main>
    <!-- Mensaje visual si existe -->
    <div th:if="${mensaje} and ${estado}" class="alerta" th:classappend="${estado == 'OK'} ? ' exito' : ' error'">
        <p th:text="${mensaje}"></p>
    </div>


    <h2>Períodos de Nómina Cerrados</h2>

    <!-- Mostrar si NO hay periodos -->
    <div th:if="${#lists.isEmpty(periodos)}" class="formulario-container">
        <p>No hay períodos de nómina cerrados.</p>
    </div>

    <!-- Mostrar si SÍ hay periodos -->
    <table th:if="${not #lists.isEmpty(periodos)}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Descripción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="periodo : ${periodos}"
            th:onclick="'window.location.href=\'' + @{/nomina/resumen(periodo=${periodo.idPeriodo})} + '\''"
            style="cursor: pointer;">
        <td th:text="${periodo.idPeriodo}"></td>
            <td th:text="${periodo.fechaInicio}"></td>
            <td th:text="${periodo.fechaFin}"></td>
            <td th:text="${periodo.descripcion}"></td>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>
